.headerContainer {
    padding: 16px;
}

.headerContainer .header,
.headerContainer .twitter {
    background-color: var(--boxBackground);
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 16px;
}

.headerContainer .twitter {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 6px 6px;
    text-align: right;
    font-size: 0;
    position: relative;
    z-index: 1;
}

.headerContainer .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.headerContainer .header .darkMode {
    font-size: 22px;
    color: #006693;
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    cursor: pointer;
    width: 22px;
}

.headerContainer .profileImg {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    overflow: hidden;
}

.headerContainer .profileImg img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.headerContainer .informationContainer {
    margin-left: 16px;
}

.headerContainer .informationContainer .name {
    text-align: left;
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
    color: var(--textBlack);
}

.headerContainer .informationContainer .gear {
    margin-left: 10px;
    margin-bottom: -2px;
    color: var(--textGray);
    cursor: pointer;
}

.headerContainer .informationContainer .countCoffees {
    font-size: 16px;
    color: var(--textGray);
}

@media only screen and (min-width: 768px) {
    .headerContainer {
        width: 600px;
        margin: 0 auto;
    }
}
