.title,
.titleDescription {
    padding: 0 20px;
    margin: 0;
    font-weight: bold;
    color: var(--textBlack);
}

.titleDescription {
    padding-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.waitingCoffee {
    padding: 16px;

    span {
        display: block;
        background-color: var(--boxBackground);
        color: var(--textBlack);
        border-radius: 4px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        padding: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .title,
    .titleDescription,
    .waitingCoffee {
        width: 600px;
        margin: 0 auto;
    }

    .titleDescription {
        padding-top: 20px;
        margin-bottom: 5px;
    }

    .title {
        padding-top: 20px;
        margin-bottom: 5px;
    }
}
