$backgroundLight: #e9ecef;
$backgroundDark: #18191a;

$boxBackgroundLight: #f8f9fa;
$boxBackgroundDark: #242526;

$textBlackLight: #000000;
$textBlackDark: #eee;

$textGrayLight: #4a4a4a;
$textGrayDark: #a9a9a9;

$textBlueLight: #147cbb;
$textBlueDark: #7bc4f1;

$inputBackgroundLight: #e9ecef;
$inputBackgroundDark: #3a3b3c;

$buttonBackgroundLight: rgba(65, 137, 230, 0.15);
$buttonBackgroundDark: #006693;

$buttonTextLight: #009ee3;
$buttonTextDark: #e9ecef;

$borderButtonLight: #009ee3;
$borderButtonDark: #006693;
